/* Set a background image by replacing the URL below */
body {
    background: grey;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

  .input-group.md-form.form-sm.form-1 input{
    border: 1px solid #bdbdbd;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
  
  #new_dis_btn{
      width: 60%;
      margin: auto;
      margin-top: 15px;
  }

  #postcomment {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 25px;;
  }

  #btn-group {
    float: right;
    display: inline-block;
  }

  #com-tag {
    display: inline-block;
    float: left;
  }

  #posthead {
    text-align: left;
  }

  #upvote{
    display: inline-block;
    float: right;
  }
  #downvote {
    display: inline-block;
    float: right;
  }

  #votecount {
    display: inline-block;
    float: right;
    margin-right: 15px;
    margin-left: 15px;
  }

  #postheader{
    display: inline-block;
  }

 #comment {
   padding: 25px;
 }