/* Set a background image by replacing the URL below */
body {
    background: url('https://source.unsplash.com/lc7xcWebECc/1920x1080') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

  .input-group.md-form.form-sm.form-1 input{
    border: 1px solid #bdbdbd;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
  
  #new_dis_btn{
      margin-top: 15px;
      width: 30%;
  }
